/* @import url(https://db.onlinewebfonts.com/c/64c0284f1ada1cf79ec484ac28eee170?family=Louis+Vuitton+Regular);  */

@font-face {
  font-family: 'Louis Vuitton Regular';
  src: url('../test-page/fonts/Louis_Vuitton_Regular.ttf') format('truetype');
}

body {
  font-family:  'Louis Vuitton Regular', "Garamond";
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* body {
  font-family: Garamond;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
} */

.fixed-header {
  background-color: #362b18;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-image-container {
  margin-top: 270px; /* Adjust this based on the height of the fixed header */
}

.header-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 240px;
}

.header-image-survey {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 240px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.product-list {
  display: none;
}

.product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  width: calc(20% - 1rem);
  box-sizing: border-box;
}

.product-item img {
  width: 100%;
  height: 200px; /* Adjusted height for smaller screens */
  object-fit: contain; /* Ensures the entire image is visible without cropping */
}

.product-item p {
  font-size: 1rem;
  margin: 0.25rem 0; /* Reduce the margin for text elements */
}

h2 {
  font-size: 2rem;
}

button {
  background-color: #362b18;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 3px;
}

button:hover {
  background-color: #555;
}

/* Disabled state for Remove from Cart button */
button.remove-from-cart:disabled {
  background-color: #ccc; /* Grey background when disabled */
}

footer {
  background-color: #362b18;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

#timer-container {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-top: 2px solid #362b18;
  border-bottom: 2px solid #362b18;
  position: fixed;
  top: 150px; /* Adjust this value based on the height of the header */
  left: 0;
  z-index: 1000;
}

#timer {
  display: inline-block;
  background-color: #362b18;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

p.centered-text {
  text-align: center; /* Center align the text */
  font-size: 2rem;
}

#survey-container {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-top: 2px solid #362b18;
  border-bottom: 2px solid #362b18;
  position: fixed;
  top: 150px; /* Adjust this value based on the height of the header */
  left: 0;
  z-index: 1000;
}

#survey-title {
  display: inline-block;
  background-color: #362b18;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

#contact-container {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-top: 2px solid #362b18;
  border-bottom: 2px solid #362b18;
  position: fixed;
  top: 110px; /* Adjust this value based on the height of the header */
  left: 0;
  z-index: 1000;
}

#contact-title {
  display: inline-block;
  background-color: #362b18;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.page-navigation {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-navigation button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.product-list.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.content {
  margin-top: 70px; /* Adjust to avoid content being hidden behind the fixed header and timer */
  padding: 1rem;
}

.contact {
  margin-top: 250px; /* Adjust to avoid content being hidden behind the fixed header and timer */
  text-align: center;
  padding: 1rem;
}

button.added-to-cart {
  background-color: #9f8453; /* New background color */
  color: #fff; /* New text color */
}

.cart-icon-container {
  position: fixed;
  top: 290px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: #9f8453; /* Background color for the rounded rectangle */
  border-radius: 12px; /* Rounded corners */
  padding: 8px 16px; /* Padding inside the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

/* Cart icon */
.cart-icon {
  width: 48px;
  height: 48px;
  background: url('images/cart_icon.png') no-repeat center center;
  background-size: contain;
}

/* Cart counter */
.cart-counter {
  margin-left: 5px;
  font-size: 20px;
  color: #362b18;
  background-color: #9f8453;
  border-radius: 50%;
  padding: 2px 8px;
}

.form-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Adjust this percentage to change the aspect ratio */
  overflow: hidden;
}

.form-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Reducing gaps between headings within .product-item */
.product-item h2, .product-item h3 {
  margin-top: 0;
  margin-bottom: 0.5rem; /* Adjust this value as needed */
}

.enlarged-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Higher than other content */
  max-width: 90%;
  max-height: 90%;
  display: none; /* Hidden by default */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(105, 101, 101, 0.7);
  z-index: 1000; /* Behind the enlarged image */
  display: none; /* Hidden by default */
}

/* Media Queries for Responsive Design */

@media (min-width: 2160px) {
  .product-item {
    width: calc(20% - 2rem); /* 5 items per row on very large screens */
  }

  h2 {
    font-size: 3.5rem; /* Adjusted font size for very large screens */
  }

  .product-item p {
    font-size: 1.6rem; /* Adjusted font size for very large screens */
  }

  button {
    font-size: 1.4rem; /* Adjusted button text size for very large screens */
  }

  .cart-counter {
    font-size: 32px; /* Adjusted font size for the cart counter */
  }
}

@media (min-width: 1200px) {
  .product-item {
    width: calc(25% - 2rem); /* 4 items per row on large screens */
  }

  h2 {
    font-size: 2.5rem; /* Adjusted font size for large screens */
  }

  .product-item p {
    font-size: 1.2rem; /* Adjusted font size for large screens */
  }

  .cart-counter {
    font-size: 24px; /* Adjusted font size for the cart counter */
  }
}

@media (min-width: 1440px) {
  .product-item {
    width: calc(20% - 2rem); /* 5 items per row on very large screens */
  }

  h2 {
    font-size: 3rem; /* Adjusted font size for very large screens */
  }

  .product-item p {
    font-size: 1.4rem; /* Adjusted font size for very large screens */
  }

  button {
    font-size: 1.2rem; /* Adjusted button text size for very large screens */
  }

  .cart-counter {
    font-size: 28px; /* Adjusted font size for the cart counter */
  }
}

@media (max-width: 1024px) {
  .product-item {
    width: calc(33.33% - 2rem); /* 3 items per row on medium screens */
  }

  h2 {
    font-size: 1.8rem; /* Adjusted font size for medium screens */
  }
}

@media (max-width: 768px) {
  .product-item {
    width: calc(50% - 2rem); /* Two products per row on Tablets */
  }

  h2 {
    font-size: 1.5rem; /* Adjusted font size for tablets */
  }

  p.centered-text {
    font-size: 1.2rem;
  }

  .product-item p {
    font-size: 0.9rem; /* Adjusted font size for tablets */
  }
}

@media (max-width: 480px) {
  .product-item {
    width: calc(50% - 1rem); /* Two products per row on mobile phones */
  }

  .product-item img {
    height: 100px; /* Adjusted height for smaller screens */
  }

  .product-item p {
    font-size: 0.8rem; /* Smaller font size for mobile screens */
  }

  button {
    font-size: 0.6rem; /* Smaller button text for mobile screens */
  }

  h2 {
    font-size: 1.2rem; /* Adjusted font size for mobile screens */
  }

  p.centered-text {
    font-size: 1.2rem;
  }

  #timer-container {
    font-size: 18px;
    padding: 10px 0;
  }

  #survey-container {
    font-size: 18px;
    padding: 10px 0;
  }
}

